#CanvasRegion_Adjustion{
    margin: 0 10;
    width: 1100px;
    height: 600px;
    float: left;
}

#Tool_Menu{
    float: left;
    border:4px solid PapayaWhip;
    margin: 0 12;
    width: 350px;
    height: 700px;
    position: relative;
}

#color_choose_region{
    width: 300;
    height: 170;
    
}

#font_adjust_region {
    position: absolute;
    left: 10;
    top: 500;
    height: 40;
    width: 300;
}

#slider_region {
    position: absolute;
    left: 10;
    top: 560;
    height: 20;
    width: 300;
}



#upload_download_region {
    position: absolute;
    left: 10;
    top: 600;
    height: 80;
    width: 300;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
}






    

.row{
    width: 100%;
    text-align: center;
    line-height: 80px;
}
.btn {
    width: 170px;
    height: 60px;
    background: OldLace;
    font-size: 22px;
    transition: background 0.3s;
    box-shadow: none;
    border: 0;			
}


.btn:hover {
    background: white;
}	

#myCanvas {
    z-index: 5;
    position: absolute;
    float: left;
    top: 10;
    left: 15;
    border-top:3px solid 	BurlyWood;
    border-left:3px solid 	BurlyWood;
    border-right:5px solid Tan;
    border-bottom:5px solid Tan;
    background-color: white;
    width: 1100px;
    height: 600px;
    
}

#color_choose {
    z-index: 5;
    position: absolute;
    border: transparent;
    height: 170;
    width: 300;
}

#TextBox {
    font: 28px DFKai-sb;
    background-color: transparent;
    resize: none;
    z-index: 1;
    border: transparent;
    word-break: break-all;
    float: left;
    position: absolute;
    top: 10;
    left: 10;
}